#container{
    background-color: black;
    width: 100%;
    min-height: 98vh;
    border: white dotted 3px;
}

#newChannelBtn{
    display: flex;
    margin: 15px;
}

#top{
    min-width: 80px;
    min-height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel{
    display: flex;
    flex-direction: row;
    margin: 15px;
    border: white solid 1px;
    background-color: rgb(53, 53, 53);
    
}

.channel button{
    min-width: 80px;
    min-height: 80px;
    border: black dotted 2px;
}

#playAll{
    font-size: 30px;
}

audio{
    width: 0px;
    height: 0px;
}
