body{
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 226, 255);
    display: flex;
    flex-flow: row;
}

#toolBar{
    min-width: 350px;
    width: 350px;
    height: 100vh;
    border: blueviolet solid 2px;
    overflow-y: auto;
}

#toolBar:div{
    width: 350px;
    height: 50px;
    border: blueviolet solid 2px;
}

#workSpace{
    margin: auto;
}

.toolBarBTN{
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    color: white;
}

.toolBarOptions{
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
}

.margin{
    margin-top: 3px;
    margin-bottom: 3px;
}

div.margin{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

button.margin{
    background-color: white;
    border: solid blueviolet 1px;
}

button.margin:hover{
    background-color: rgb(187, 116, 253);
    border: solid white 1px;
    color: white;
}

.divClosed{
    height: 0px;
    display: none;
}

.divOpened{
    height: 100%;
    visibility: visible;
}