div{
    border: solid rgba(0, 0, 0, 0.37) 1px;
}

body{
    margin: 0;
    overflow: hidden;
}

.insideNote{
    margin: 5px;
}

/* CONTAINER */
.noteContainer{
    position: absolute;
    width: min-content;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.fold{
    position: relative;
    border: solid black 1px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
    transform-origin: top left;
}



/* HEADER */
.noteHeader{
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* MAIN */
.noteMain{
    width: 200px;
    min-height: 200px;
}

/* FOOTER */
.noteFooter{
    width: 200px;
    height: 20px;
    align-self: flex-end;
}