.noteContainer, .noteContainer div{
    border: solid rgba(0, 0, 0, 0.37) 1px;
}

body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(250, 246, 231);
}

#editSpace{
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 248, 220, 0.623);
}

.editContainer
{
    position: relative;
    left: 50%;
    top: 50%;
    border: solid black 1px;
    width: min-content;
    height: min-content;
}


.insideNote{
    margin: 5px;
}

/* CONTAINER */
.noteContainer{
    position: absolute;
    width: min-content;
    display: flex;
    flex-direction: column;
    user-select: none;
    opacity: 1;
}

.fold{
    position: relative;
    border: solid black 1px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
    transform-origin: top left;
}



/* HEADER */
.noteHeader{
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* MAIN */
.noteMain{
    width: 200px;
    min-height: 200px;
}

/* FOOTER */
.noteFooter{
    width: 200px;
    height: 20px;
    align-self: flex-end;
}