.noteContainer, .noteContainer div{
    border: solid rgba(0, 0, 0, 0.37) 1px;
}

body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(250, 246, 231);
}


#editSpace{
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 248, 220, 0.623);
}

.editContainer
{
    position: relative;
    left: 50%;
    top: 50%;
    border: solid black 1px;
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: row;
}


.insideNote{
    margin: 5px;
}

input[type="text"].insideNote, textarea.insideNote {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.37);
    cursor: unset;
}

textarea.insideNote:disabled {
    color: unset;
    cursor: unset;
}

.editTools{
    width: 200px;
    height: max-content;
    margin-left: 15px;
    border: black solid 1px;
}


/* CONTAINER */
.noteContainer{
    position: absolute;
    width: min-content;
    display: flex;
    flex-direction: column;
    user-select: none;
    opacity: 1;
}

.fold{
    position: relative;
    border: solid black 1px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
    transform-origin: top left;
}



/* HEADER */
.noteHeader{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: grab;
    min-width: initial;
}

/* MAIN */
.noteMain{
    min-width: 265px;
    min-height: 201px;
}

/* FOOTER */
.noteFooter{
    width: initial;
    height: 20px;

}